:root{
  --tablet: 500px;
  --desktop: 1024px;
  --dark-tile: #B7C0D8;
  --white-tile: #E8EDF9;
  --highlight: #7B61FF;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color:#333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{
    height: 40%;
    aspect-ratio: 4/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 600px) {
  .game{
    height: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .game{
    height: 90%;
  }
}


.chess-board{
    background-color: whitesmoke;
    width: 99%;
    height: 98%;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    /* padding: 0.4em 0.4em 1em 1em; */
    padding: 0.4em;
}

.chess-row{
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.chess-box{
    display: flex;
    place-content: center;
    align-items: center;
    position: relative; 
}
.chess-piece-icon{
  display: inline-block;
  height: 90%;
  width: 50%;
}
/* tile colors */
.dark-tile{
  background-color: var(--dark-tile);
}
.white-tile{
  background-color: var(--white-tile);
}

.highlight-square{
  background-color: var(--highlight);
}

.highlight-circle::after{
  content: "";
  position: absolute;
  background-color: var(--highlight);
  height: 30%;
  aspect-ratio:  1 / 1;
  border-radius: 50%;
  
  animation-name: slide;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes slide {
  100%{
    transform: translateY(20px);
  }
}
/* @keyframes beat {
  100%{
    transform: scale(1.2);
  }
} */
