:root{
  --tablet: 600px;
  --desktop: 1024px;
  --dark-sqr: #B7C0D8;
  --white-sqr: #E8EDF9;
  --float-char:rgb(128, 124, 124);
  --active: #7B61FF;
  --danger: rgb(216, 116, 116);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color:#333;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;

  font-family: cursive;
}
.display{
  height: 5%;
  color: var(--white-sqr);

  display: flex;
  justify-content: center;
  align-items: center;
  /* animation-name: beat; */

}
.game{
    height: 35%;
    aspect-ratio: 4/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 600px) {
  .game{
    height: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .game{
    height: 80%;
  }
}

.chess-board{
    background-color: whitesmoke;
    width: 99%;
    height: 98%;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    padding: 0.4em;
}

.chess-row{
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.chess-sqr{
    display: flex;
    place-content: center;
    align-items: center;
    position: relative;
    
}
.chess-piece-icon{
  display: inline-block;
  height: 90%;
  width: 50%;
}
/* sqr colors */
.dark-sqr{
  background-color: var(--dark-sqr);
}
.white-sqr{
  background-color: var(--white-sqr);
}
.active-sqr{
  background-color: var(--active);
}
.opps-sqr{
  background-color: var(--danger);
}

.circle-sqr::after{
  content: "";
  position: absolute;
  background-color: var(--active);
  height: 30%;
  aspect-ratio:  1 / 1;
  border-radius: 50%;
  
  animation-name: slide;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes slide {
  100%{
    transform: translateY(20px);
  }
}

.num-sqr::after{
  content: attr(data-board-num);
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: clamp(0.4rem, -0.166rem + 1.5094vw, 0.8rem);
  color: var(--float-char);
}
.alph-sqr::before{
  content: attr(data-board-alph);
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: clamp(0.4rem, -0.166rem + 1.5094vw, 0.8rem);
  color: var(--float-char);
}
